<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP} !on
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
  RewriteEngine Off
</IfModule>

# BEGIN GZIP
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>
# END GZIP

# Two weeks for image files
<filesMatch ".(jpg|jpeg|png|gif|ico|svg)$">
Header set Cache-Control "max-age=1209600, public"
</filesMatch>
# One week for css and js
<filesMatch ".(css|js)$">
Header set Cache-Control "max-age=604800, public"
</filesMatch>
